<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>email</mat-label>
      <input matInput placeholder="email" formControlName="email">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>password</mat-label>
      <input type="password" matInput placeholder="password" formControlName = "password">
    </mat-form-field>
    <button type="submit" mat-raised-button>Sign In</button>
  </form>
