<div>
    <app-dashboard-chart [charData]="chartData"></app-dashboard-chart>
    <div>
        <h1 class="header">Current Tasks</h1>
    </div>
    <div *ngIf="userId!=''">
        <app-dashboard-category *ngFor="let category of categories" [categoryName]="category" [uid]="userId"></app-dashboard-category>
    </div>
    <div>
        <h1 class="header">History</h1>
        <h2 class="smaller_header">here's how you've been performing</h2>
    </div>
    <div>
        <div *ngFor="let item of ids">
            <h2 class="smaller_header">{{item.month}}</h2>
            <app-sample-charts [id]="item.id"></app-sample-charts>
        </div>
    </div>
</div> 

