<div class="container">
    <h1 class="header">LifeScale</h1><br>
    <div class="card">    
        <mat-card class="mobile">
            <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
                <mat-tab label="Sign Up">
                    <app-signup></app-signup>
                </mat-tab>
                <mat-tab label="Sign In">
                    <app-signin></app-signin>
                </mat-tab>
            </mat-tab-group> 
        </mat-card>
    </div>
</div>