<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>
  









<!-- <div fxLayoutAlign="center center"fxFlexFill>
    <mat-card fxFlex = "25">
        <form fxLayoutAlign = "stretch" fxLayout = "column">
            <mat-form-field>
                <input id="Username" matInput placeholder = "Username">
            </mat-form-field>
      
            <mat-form-field>
                <input id="Password" matInput type = "password" placeholder = "Password">
            </mat-form-field>
            <button mat-button type = "submit" (click)="printUsernameAndPassword()">Login</button>
        </form>
    </mat-card>
</div> -->

 
