
.newItem{
    background-color: #acc5ff;
    width: 90%;
    margin-top: 20px;
    height: auto;
    margin-left: 5%;
    padding: 1px;

}
.newName{

        margin-top: 100px;
        margin-bottom: 50px;
        margin-right: 150px;
        margin-left: 80px;

        font-size: 48px;

        color: yellow;
     
    
}
.newDesc{
    
        margin-top: 50px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;

        font-size: 20px;

        color: green;
      
    
}
.button{
        width: 100px!important;
        height: 100px!important;
        color: blue;
}