.container__chart{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}
.headings {
    width: 100%;
    text-align: center;
    height: 7vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
  
    line-height: 7vh;
    font-size: 2em;
    text-transform: uppercase;
  }