<div class="container">
    <h1 class="title">LifeScale</h1>
    <h2>⚖️ Is your life Balanced?</h2>
    <div>
        <p>
            Everyday, people deal with many aspects of their life that cause them stress. Work, Finances, Relationships, Health, etc. All of these facets are important and yet it is so hard to prioritize everything.
        </p>
    </div>
    <h2>⭐️ Our Goal </h2>
    <div>
        <p>
            We created LifeScale because we know that managing several aspects of our lives can be difficult. Our focus is on helping our users live more balanced and meaningful lives.        </p>
    </div>
    <h2>💡 Our Solution</h2>
    <div class="">
        <p>
            LifeScale uses technology to help people track the many different aspects of their lives. We provide insight on users habits using statistics and trends to help them learn what works and what does not. We provide recommendations and actionable steps to help people achieve their goals.        
          </p>
    </div>
    <a href="https://github.com/leonkoech/BalancedLife">Star us on github</a>
    <div class="container_button">
        <a href="/auth"><button class="button button__primary">Try LifeScale</button></a>
    </div>
    
</div>
